<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ismr.sanjeronimoseguro">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SanJeronimoSeguro"
        android:usesCleartextTraffic="true">
    <!--tools:ignore="GoogleAppIndexingWarning"-->
        <service android:name=".services.MyFirebaseMessagingClient">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    <activity android:name=".activities.client.ServicioColectividadActivity"></activity>
    <activity android:name=".activities.client.BuscarCelularActivity" />
    <activity android:name=".activities.client.loginBuscarCelularActivity" />
    <activity android:name=".activities.client.MenuInicioActivity" />
    <!--
         The API key for Google Maps-based APIs is defined as a string resource.
         (See the file "res/values/google_maps_api.xml").
         Note that the API key is linked to the encryption key used to sign the APK.
         You need a different API key for each encryption key, including the release key that is used to
         sign the APK for publishing.
         You can define the keys for the debug and release targets in src/debug/ and src/release/.
    -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDYorPQZtdh8XDmNZVhQbQgqp9GFchPYfE" /> <!-- android:value="@string/google_maps_key"   este es el manifest para los mapas el valor lo obtenemos del xmlde mapAdmin vid 23 min 8:40 -->
        <activity android:name=".activities.admin.LoginAdminActivity" />
        <activity android:name=".activities.admin.MapAdminActivity" />
        <activity android:name=".activities.client.MapClientActivity" />
        <activity android:name=".activities.admin.RegistroDatosAdminActivity" />

        <!--<activity android:name=".activities.driver.RegisterDriverActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity"></activity>-->
        <activity
            android:name=".activities.Login"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.client.RegistroDatos"
            android:parentActivityName=".activities.Registro1" />
        <activity
            android:name=".activities.Registro1"
            android:parentActivityName=".activities.CrearCuenta" />
        <activity
            android:name=".activities.CrearCuenta"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>